* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-color: rgb(221, 239, 255);
    display: grid;
    place-items: center;
    font-family: cursive;
    font-weight: bold;
  }
  
  h3 {
    position: absolute;
    text-align: center;
    top: 20px;
  }
  
  /* Main Style Stars from here  */
  .flag {
    position: sticky;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 1px rgba(196, 48, 48, 0.5);
    overflow: visible;
  }
  
  .india {
    background: linear-gradient(#f77f07 33%, rgb(2460, 240, 240) 33%, #fff 66%, #138808 0);
    display: grid;
    place-items: center;
  }